@model IEnumerable<MvcCompanies.Models.Company>
@{
    ViewData["Title"] = "Companies";
}

<style>
    .actions{
        display: inline-block;
        margin-left: 1em;
    }

    li{
       margin-top: 0.5em;
       margin-bottom: 0.5em;
    }

    b{
        font-size: 18px;
        margin-bottom: 1em;
    }

    i{
        font-size: 16px;
    }

    .btn-sm, .btn-xs{
        font-size: 14px;
    }
</style>

<div class="jumbotron">
    <h1>MvcCompanies</h1>
    <p>Companies</p>
</div>
<p>
    <a asp-action="Create" class="btn btn-default" style="float:right">Create Company</a>
</p>

<ul style="margin-top: 7em">
    @foreach(var company in Model)
    {
        <hr />
        <li style="margin-bottom: 2em;">
            <b>@Html.DisplayFor(modelItem => company.Name)</b>
            <div class="actions">
                <a asp-action="Edit" asp-route-id="@company.CompanyID" class="btn btn-default">Edit</a>
                <a asp-controller="Departments" asp-action="Create" asp-route-id='@company.CompanyID' class="btn btn-default">Create Department</a>
                <a asp-action="Delete" asp-route-id="@company.CompanyID" class="btn btn-default">Delete</a>
            </div>
            <ul>
                @foreach(var department in company.Departments)
                {
                    <li style="margin-bottom: 1.5em;">
                        <i>@Html.DisplayFor(modelItem => department.Name)</i>
                        <div class="actions">
                            <a asp-controller="Departments" asp-action="Edit" asp-route-id="@department.DepartmentID" class="btn btn-sm btn-default">Edit</a> |
                            <a asp-controller="Employees" asp-action="Create" asp-route-id='@department.DepartmentID' class="btn btn-sm btn-default">Create Employee</a> |
                            <a asp-controller="Departments" asp-action="Delete" asp-route-id="@department.DepartmentID" class="btn btn-sm btn-default">Delete</a>
                        </div>
                        <ul>
                            @foreach(var employee in department.Employees)
                            {
                                <li>
                                    @Html.DisplayFor(modelItem => employee.LastName)
                                    @Html.DisplayFor(modelItem => employee.FirstName)
                                    <div class="actions">
                                        <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.EmployeeID" class="btn btn-xs btn-default">Edit</a> |
                                        <a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.EmployeeID" class="btn btn-xs btn-default">Delete</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
